In [ ]:
import pandas as pd
import numpy as np

## Dataset Titanic

In [ ]:
titanic = pd.read_csv('kapal_titanic.csv')
titanic

#### Menemukan jumlah data hilang pada dataset Titanic

In [ ]:
titanic.isna().sum()

#### Mengganti nilai yang hilang pada kolom 'embarked' dengan 'S'

In [ ]:
titanic['embarked'] = titanic['embarked'].fillna('S')
titanic.isna().sum()

#### Mengganti nilai yang hilang pada kolom 'Age' dengan nilai rata2 (mean)

In [ ]:
titanic['age'] = titanic['age'].fillna(titanic['age'].mean())
titanic.isna().sum()

In [ ]:
titanic

#### Mengganti nilai yang hilang pada kolom 'Deck' dengan nilai mode

In [ ]:
titanic['deck'].mode()

In [ ]:
titanic['deck'] = titanic['deck'].fillna(titanic['deck'].mode()[0])
titanic.isna().sum()

In [ ]:
titanic

## Dataset Uber

In [ ]:
uber = pd.read_csv('My Uber Drives - 2016.csv')
uber

#### Temukan perjalanan yg memiliki jarak lebih dari 10 miles dan start dari New York dan Morris

In [ ]:
x = uber[uber['START*'].isin(['Morrisville','New York'])]
x.loc[uber['MILES*'] > 10]

#### Menambahkan kolom baru dengan ketentuan
#### a. > 10 miles = long trip
#### b. 5-10 miles = medium trip
#### c. <5 miles = short trip

In [ ]:
uber['TYPE'] = np.where(uber['MILES*'] > 10, 'Long Trip', np.where(uber['MILES*'] < 5, 'Short Trip', 'Medium Trip'))
uber.head()